APP_URL=http://YOUR_SERVER_IP_OR_DNS
APP_KEY=base64:GENERATE_ME
APP_ENV=production
APP_DEBUG=false
APP_TIMEZONE=UTC

MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
MYSQL_PASSWORD=change_me_user

PUID=1000
PGID=1000
